body {
	background: #c7c7cf;
	
}

.qnxform .hidden, .qnxform .qnxselectdropdown.hidden {
	display: none;
}

.qnxform .relative {
	position: relative;
}

.qnxform, .qnxform input, .qnxform button, .qnxform select {
	font-family: "Myriad Pro" Helvetica, Arial, sans-serif;
	font-size: 21px;
}

.qnxform label {
	line-height: 45px;
	height: 45px;
	display: inline-block;
	margin-right: 10px;
}

.qnxform button, 
.qnxform input[type="submit"], 
.qnxform input[type="button"], 
.qnxform .qnxselectinner, 
.qnxform .qnxoptiongroupinner, 
.qnxform .qnxoptionholder.active .qnxoption,
.qnxform .qnxspinnercontrollerinner 
{

	-webkit-border-radius: 5px;
	background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0, rgb(209,210,212)),
    	color-stop(1, rgb(252,252,252))
	);
	border: 1px rgba(255,255,255,0.5) solid;
	margin: 0;
	height: 38px;
	line-height: 35px;
}

.qnxform button, 
.qnxform input[type="submit"], 
.qnxform input[type="button"], 
.qnxform .qnxselectinner 
{
	padding: 0 35px;	
}

.qnxform button[disabled], 
.qnxform input[type="submit"][disabled], 
.qnxform input[type="button"][disabled],
.qnxform .qnxselectholder.disabled .qnxselectinner
{
    color: #b0b0b0;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb;
    border: none;
}

.qnxform .qnxbuttonholder.disabled,
.qnxform .qnxselectholder.disabled
{
	display: inline-block;
	-webkit-border-radius: 5px;
	border: 1px rgba(0, 0, 0, 0.1) solid;	
	max-width: 500px;
	-webkit-box-shadow: 1px 1px 0px rgba(255,255,255,0.2);
}

.qnxform .qnxbuttonholder.active button, 
.qnxform .qnxbuttonholder.active input[type="submit"], 
.qnxform .qnxbuttonholder.active input[type="button"], 
.qnxform .qnxselectholder.down .qnxselectinner, 
.qnxform .qnxselectholder.active .qnxselectinner, 
.qnxform .qnxoptionholder.active .qnxoption  
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(1, rgb(0,184,253)),
	    color-stop(0, rgb(0,130,228))
	);	
	border: 1px #2ccfff solid;
	color: #fff;
}

.qnxform .qnxbuttonholder.active, 
.qnxform .qnxselectholder.active, 
.qnxform .qnxoptionholder.active .qnxoption 
{
	border: 1px #295b9a solid;
}

.qnxform .qnxbuttonholder, 
.qnxform .qnxselectholder, 
.qnxform .qnxoptiongroupholder,
.qnxform .qnxspinnerholder .qnxspinnercontroller
{
	display: inline-block;
	-webkit-border-radius: 5px;
	border: 1px rgba(0,0,0,0.5) solid;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	max-width: 500px;
}

.qnxform .qnxtextfieldholder 
{
	background: #fff;
	-webkit-border-radius: 5px;
	border: 1px rgba(0,0,0,0.5) solid;
	display: inline-block;
	outline-bottom: 1px #fff solid;
	-webkit-box-shadow: 1px 1px 0px rgba(255,255,255,1);	
	height: 34px;
	position: relative;
}

.qnxform .qnxtextfieldholder input 
{
	-webkit-box-shadow:inset 1px 1px 2px rgba(0,0,0,0.2);
	background: transparent;
	outline: none;
	border: 0;
	margin: 0;
	padding: 0 30px 0 10px;
	height: 32px;
	line-height: 32px;
}

.qnxform .qnxtextfieldholder.focused 
{
	-webkit-box-shadow: 0 0 6px #0096ff;
	border: 1px #366889 solid;
} 

.qnxform .qnxtextfieldholder div.closecross 
{
	display: none;
}
.qnxform .qnxtextfieldholder.focused div.closecross 
{
	display: block;
	position: absolute;
	z-index: 3;
	right: 10px;
	top: 9px;
	width: 16px;
	height: 17px;
	background: url(images/cross.png);
}

.qnxform > div {
	margin-bottom: 10px;
}

.qnxform .qnxtoggle 
{
	-webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	border: 1px #363636 solid;
	display: inline-block;
	background: #e1e1e1;
	position: relative;
	top: 15px;
}

.qnxform .qnxtoggle .onlabel, 
.qnxform .qnxtoggle .offlabel 
{
	display: block;
	width: 80px;
	float: left;
	height: 38px;
	line-height: 40px;
	text-align: center;
}

.qnxform .qnxtoggle .slider 
{
	height: 36px;
	border: 1px #fff solid;
	-webkit-border-radius: 4px;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(209,210,212)),
	    color-stop(1, rgb(252,252,252))
	);
	width: 80px;	
	-webkit-box-shadow: 0 0 3px #000;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 350ms;
	-webkit-transition-timing-function: ease-in;
}

.qnxform .qnxtoggle.blue 
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(1, rgb(6,168,233)),
	    color-stop(0, rgb(0,113,199))
	);	
}

.qnxform .qnxtoggle.blue .onlabel 
{
	color: #fff;
}

.qnxform .qnxtoggle.off .slider 
{
	-webkit-transform: translate3d(0,0,0);
}
.qnxform .qnxtoggle.on .slider 
{
	-webkit-transform: translate3d(78px,0,0);
}

.qnxform .qnxcheckbox 
{
	width: 18px;
	height: 18px;
	-webkit-border-radius: 4px;
	border: 1px #f0f0f0 solid;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(209,210,212)),
	    color-stop(1, rgb(252,252,252))
	);
}

.qnxform .qnxcheckboxholder 
{
	border: 1px rgba(0,0,0,0.5) solid;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-border-radius: 5px;
	width: 20px;
	height: 20px;
	display: inline-block;
	position: relative;
}

.qnxform .qnxcheckboxholder .check 
{
	width: 7px;
	height: 19px;
	border-left: 3px #000 solid;
	border-top: 3px #000 solid;
	-webkit-box-shadow: -1px -1px 1px rgba(0,0,0,0.3);
	-webkit-transform: rotate(-135deg);
	position: absolute;
	top: -7px;
	left: 8px;
}

.qnxform .qnxselectholder .arrowholder .arrow 
{	
	width: 11px;
	height: 11px;
	background: #fff;
	-webkit-border-radius: 2px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-transform: rotate(45deg);
	position: relative;
	bottom: 4px;
	left: 2px;
}

.qnxform .qnxselectholder.disabled .arrowholder .arrow {
	background: #666867;
}

.qnxform .qnxselectholder.down .arrowholder .arrow 
{	
	width: 11px;
	height: 11px;
	background: #fff;
	-webkit-border-radius: 2px;
	-webkit-border-top-left-radius: 0;
	-webkit-transform: rotate(45deg);
	position: relative;
	bottom: -2px;
	left: 2px;
}

.qnxform .qnxselectholder.down .arrowholder {
    top: 14px;
}

.qnxform .qnxselectholder 
{
	position: relative;
	padding-right: 40px;
	z-index: 2;
}


.qnxform .qnxselectholder.down {
    z-index: 5;
}

.qnxform .arrowholder 
{
	text-align: center;
	width: 15px;
	height: 9px;
	overflow: hidden;
	display: inline-block;
	position: absolute;
	top: 16px;
	right: 12px;
}

.qnxform .qnxselectholder .qnxselectinner 
{
	line-height: 40px;
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.qnxform .qnxselectright 
{
	height: 38px;
	width: 41px;
	position: absolute;
	right: 0;
	top: 0;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(161,165,168)),
	    color-stop(1, rgb(201,200,205))
	);
	border: 1px #ccc solid;
	border-left: none;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
}

.qnxform .qnxselectholder.disabled .qnxselectright {
	background: #bdbec0;
	border: none;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.qnxform .qnxselectholder.active .qnxselectright,
.qnxform .qnxselectholder.down .qnxselectright 
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(16,101,168)),
	    color-stop(1, rgb(5,141,217))
	);	
	border: 1px #149ce8 solid;
	border-left: none;
}

.qnxform .qnxselectdropdown 
{
	position: absolute;
	top: 39px;
	left: 0;
	margin-top: -3px;
	z-index: 4;
	display: inline-block;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px rgba(0,0,0,0.5) solid;
	border-top: none;
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}

.qnxform .qnxselectdropdown ul 
{
	display: inline-block;
	list-style-type: none;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	background: #f3f3f3;
	border: 1px rgba(255,255,255,0.5) solid;
	border-top: none;
	margin: 0;
	padding: 5px 1px 1px 1px;
	line-height: 35px;
	max-width: 535px;
}

.qnxform .qnxselectdropdown ul li {
	height: 45px;
	line-height: 45px;
	padding: 0 35px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.qnxform .qnxselectdropdown ul li.active 
{
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(27,100,211)),
	    color-stop(1, rgb(2,141,246))
	);
	color: #fff;
}

.qnxform .qnxoptiongroupholder 
{
	height: 40px;
	padding-right: -3px;
}

.qnxform .qnxoptiongroupinner:after 
{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.qnxform .qnxoptiongroupholder 
{
	max-width: 1024px;
}
.qnxform .qnxoptiongroupinner 
{
	display: inline-block;
}

.qnxform .qnxoptiongroupinner .qnxoption 
{
	display: inline-block;
	padding: 0 35px;
}
.qnxform .qnxoptiongroupinner .qnxoptionholder.active .qnxoption 
{
	padding: 0 34px;
}

.qnxform .qnxoptiongroupinner .qnxoptionholder,
.qnxform .qnxspinnerinner .qnxspinnersection
{
	display: inline-block;
	float: left;
	margin-right: 0px;
	line-height: 39px;
}

.qnxform .qnxoptiongroupinner .qnxoptionholder.active .qnxoption 
{
	height: 40px;
	line-height: 38px;
	
}

.qnxform .qnxoptiongroupinner .qnxoptionholder.active 
{
	position: relative;
	bottom: 2px;
	left: -2px;
}

.qnxform .qnxoptiongroupinner .qnxoptionholder:last-child 
{
	margin-right: -4px;
}

.qnxform .qnxspinnerholder {
	position: relative;
}

.qnxform .qnxspinnerholder .qnxspinneritem {
	padding: 0 35px;
}
.qnxform .qnxspinnerholder .qnxspinnershim {
	position: absolute;
	top: 0px;
	z-index: 3;
}
.qnxform .qnxspinnerholder.active .qnxspinnershim {
	-webkit-border-radius: 5px;
	border: 1px rgba(0,0,0,0.5) solid;
	max-width: 500px;
}
.qnxform .qnxspinnerholder.active .qnxspinnercontroller {
	visibility: hidden;
}
.qnxform .qnxspinnerholder.active .qnxspinnershiminner {

    -webkit-box-shadow: inset 0px 0px 9px #fff;
	border: 1px #fff solid;
	-webkit-border-radius: 4px;
}


.qnxform .qnxspinnerholder ul 
{
	margin: 0;
	padding: 10px 35px;
	list-style-type: none;
	line-height: 40px;
	border: 1px #656668 solid;
	-webkit-border-radius: 3px;
	text-align: center;
}


.qnxform .qnxspinnerholder .qnxspinnerlistholder {
	display: none;
}
.qnxform .qnxspinnerholder.active .qnxspinnerlistholder {
	display: block;
}
.qnxform .qnxspinnerholder .qnxspinnerlistholder 
{
	z-index: 1;
	position: absolute;
	top: -38px;
	-webkit-border-radius: 4px;
	margin-left: 5px;
	border: 1px #fff solid;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, #a3a8ae),
	    color-stop(0.2, #e4e7ec),
	    color-stop(0.5, rgb(255,255,255)),
	    color-stop(0.8, #e4e7ec),
	    color-stop(1, #a3a8ae)
	);
	
	-webkit-box-shadow: inset 0px 0px 7px #717479;
	height: 120px;
	overflow: auto;
}

.qnxform .activityindicator {
	width: 34px;
	height: 34px;
	background: url(images/activity.png);
}
